<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>Luxury Perfumes</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css')}}">
<link rel="icon" href="{{ url_for('static', filename='logo.ico') }}" type="image/x-icon">
</head>

<body>

<nav>

<h2>Luxury Perfumes</h2>

<a href="/">Inicio</a>

<a href="/carrito">🛒 Carrito</a>

</nav>

<div class="contenedor">

{% block contenido %}

{% endblock %}

</div>

</body>

</html>